<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Document</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://kit.fontawesome.com/41ed203bd1.js"></script>
</head>
<body>
  <header class="navbar navbar-expand-md customNavbar">
    <button class="navbar-brand buttonToggleLeft">
      <i class="fas fa-bars buttonToggleLeft"></i>
    </button>

    <div class="mx-auto order-0 d-inline-flex">
     <i class="fas fa-globe"></i>
   <p class="h1">Titre du site</p>
 </div>
 <div class="ml-0 order-0">
   <i class="fas fa-user"></i>
 </div>

</header>

<main class="container-fluid">
  <div class="row mt-5">
    <div class="col-8 offset-1 col-md-6 offset-md-4 ">
      <h1 class="h2 align-items-center">Selectionner un pays pour accéder à la page</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8 offset-1 col-md-7 offset-md-2 col-lg-5 offset-lg-4 form-group text-center">
     <label for="country">Pays choisi</label>
        <form id="display" action="/Pays" method="get" name="display">
        <div class ="input-group shadowForForm">
        <select name="country" id="country" class="form-control">

        </select>
         <div class="input-group-append">
             <button type="submit" class="btn btn-success"><span>
                 <i class="fas fa-check"></i> </span></button>
         </div>
     </div>
        </form>
    </div>
 </div>
 <div class="row mt-5">
  <div class="col-10 offset-1 col-md-5 offset-md-1 rounded mb-3">
    <div class="card">
      <div class="card-header shadowForBoxHeader border-0">TEST</div>
      <div class = "card-body table-primary shadowForBox ">
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia inventore quasi quisquam, voluptatibus eligendi consequatur ex iure quos dolores atque alias est distinctio expedita beatae consequuntur, repudiandae dolor! Dignissimos inventore minima hic aliquam consectetur debitis voluptates saepe nostrum error dolor quam neque et soluta in numquam enim, eaque fugiat veniam. Impedit incidunt ducimus quos, vel. Quos qui autem repellat porro recusandae culpa numquam quo natus voluptatibus laudantium enim dolor esse, alias quod aut beatae necessitatibus explicabo odit commodi animi fuga dolorum quia reprehenderit consequuntur amet. Laudantium et numquam reiciendis tempore in voluptas deserunt, voluptate excepturi repudiandae, maxime deleniti ratione!</p>
      </div>
    </div>
  </div>
    <div class="col-10 offset-1 col-md-5 rounded mb-3 ml-md-3">
    <div class="card">
      <div class="card-header shadowForBoxHeader border-0">TEST</div>
      <div class = "card-body table-primary shadowForBox ">
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia inventore quasi quisquam, voluptatibus eligendi consequatur ex iure quos dolores atque alias est distinctio expedita beatae consequuntur, repudiandae dolor! Dignissimos inventore minima hic aliquam consectetur debitis voluptates saepe nostrum error dolor quam neque et soluta in numquam enim, eaque fugiat veniam. Impedit incidunt ducimus quos, vel. Quos qui autem repellat porro recusandae culpa numquam quo natus voluptatibus laudantium enim dolor esse, alias quod aut beatae necessitatibus explicabo odit commodi animi fuga dolorum quia reprehenderit consequuntur amet. Laudantium et numquam reiciendis tempore in voluptas deserunt, voluptate excepturi repudiandae, maxime deleniti ratione!</p>
      </div>
    </div>
  </div>



</div>

</main>

  <script src="../../static/js/jquery-3.4.1.slim.js"></script>
  <script src="../../static/js/bootstrap.bundle.min.js"></script>
  <script src="js/drapdonIndex.js"></script>

</body>
</html>