<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://kit.fontawesome.com/41ed203bd1.js"></script>
</head>
<body>
<header class="navbar navbar-expand-md customNavbar">
    <button class="navbar-brand buttonToggleLeft">
        <i class="fas fa-bars buttonToggleLeft"></i>
    </button>

    <div class="mx-auto order-0 d-inline-flex">
        <div class="row">
            <p class="h2">		<i class="fas fa-globe"></i>
                World Countries Data</p>
        </div>
    </div>
    <script src="js/addUser.js">

    </script>
    <p name="session" id="session" class="ml-1 designeText">  </p>
    <div class="ml-0 order-0">
        <button type="button" class="btn btn-success" onclick="addloyer();">
     <span>
     <i class="fas fa-user"></i>
     </span>
        </button>
    </div>

</header>

<main class="container-fluid">
    <div class="row mt-5">
        <div class="mx-auto ">
            <h1 class="h2 align-items-center">Selectionner un pays pour accéder à la page</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="mx-auto form-group text-center">
            <label for="country">Pays choisi</label>


                <div class="input-group shadowForForm ">
                    <select name="region" id="region" class="form-control" onclick="jsonRequestSubRegion();">

                    </select>

                    <select name="sousregion" id="subregion" class="form-control" onclick="jsonRequestPaysFromSubegion();">
                        <option>--Choisissez votre subregion--</option>
                    </select>
                </div>
            <form id="display" action="/Pays" method="get" name="display">
                <div class="input-group shadowForForm mt-3">
                    <select name="country" id="country" class="form-control">

                    </select>

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success" id="ok" >
                            <span>
                            <i class="fas fa-check"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-11 offset-md-1 col-md-5 offset-md-1 rounded mb-3">
            <div class="card">
                <div class="card-header shadowForBoxHeader border-0">World info</div>
                <div class="card-body table-primary shadowForBox ">
                    <p class="card-text">
                    Here's some data about our world
                    <ul>
                        <li>World population : 7.53 Billions</li>
                        <li>Number of men : 3.79 Billions</li>
                        <li>Number of women : 3.74 Billions</li>
                        <li>195 countries in the world</li>
                        <li>Land surface : 148,940,000 square km</li>
                        <li>Water surface : 361,132,000 square km</li>
                        <li>70.9% of the world's surface is water, 29.1% is land</li>
                    </ul>
                    <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-11 offset-md-1 col-md-5 rounded mb-3 ml-md-3">
            <div class="card">
                <div class="card-header shadowForBoxHeader border-0">Site Info</div>
                <div class="card-body table-primary shadowForBox ">
                    <p class="card-text"> This website list some data related to most countries in the world including :
                    <ul>
                        <li>Population and demographics</li>
                        <li>Langages</li>
                        <li>Government</li>
                        <li>Social and Health information</li>
                        <li>Economic Information</li>
                        <li>Geographic Informaton</li>
                    </ul>
                    <br>
                    </p>
                </div>
            </div>
        </div>


    </div>

</main>
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/drapdonIndex.js"></script>
    <script src="./js/addUser.js"></script>
<script>
    verifierSession();
    jsonRequestregion();
    jsonRequestpays();
</script>

</body>
</html>